$white-color: #fff;
$black-color: #000;
$text-color: #333;
$primary-color: #ee4d2d;
$border-color: #dbdbdb;
$header-height: 120px;
$navbar-height: 34px;
$star-gold-color: #ffce3e;

$mobile-width: 600px;
$tabletpro-width: 1024px;
$tablet-width: 1023px;
